In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

In [3]:
df =pd.read_csv("Customer-Churn-Records.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1,DIAMOND,300
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,5,PLATINUM,771
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,1,3,SILVER,564
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,2,GOLD,339
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,3,DIAMOND,911

In [252]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')

In [253]:
df.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1,inplace=True)

In [254]:
df.head(1)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.0,1,1,1,101348.88,1,1,2,DIAMOND,464

In [255]:
gender_LabelEncoder=LabelEncoder()
df['Gender']=gender_LabelEncoder.fit_transform(df['Gender'])

In [256]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited', 'Complain', 'Satisfaction Score', 'Card Type',
       'Point Earned'],
      dtype='object')

In [257]:
from sklearn.preprocessing import OneHotEncoder
one_hot = OneHotEncoder()
Geography_encoded = one_hot.fit_transform(df[['Geography']])
Geography_df = pd.DataFrame(
    Geography_encoded.toarray(),
    columns=one_hot.get_feature_names_out(['Geography'])
)
with open('geo_encoder.pkl','wb') as f:
    pickle.dump(one_hot,f)
df = pd.concat([df.drop('Geography', axis=1), Geography_df], axis=1)

In [258]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [259]:
from sklearn.preprocessing import OneHotEncoder
# Instantiate the OneHotEncoder
one_hot = OneHotEncoder()
# Perform one-hot encoding on 'Card Type'
card_type_encoded = one_hot.fit_transform(df[['Card Type']])
# Convert to a DataFrame with proper column names
card_type_encoded_df = pd.DataFrame(
    card_type_encoded.toarray(),
    columns=one_hot.get_feature_names_out(['Card Type'])
)
# Drop the original 'Card Type' column and concatenate the one-hot encoded columns
with open('card_type_encoder.pkl', 'wb') as f:
    pickle.dump(one_hot, f)
df = pd.concat([df.drop('Card Type', axis=1), card_type_encoded_df], axis=1)

In [261]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Point Earned', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Card Type_DIAMOND',
       'Card Type_GOLD', 'Card Type_PLATINUM', 'Card Type_SILVER'],
      dtype='object')

In [262]:
with open('gender_LabelEncoder.pkl','wb') as f:
    pickle.dump(gender_LabelEncoder,f)

In [263]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,2,464,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1,3,456,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,3,377,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,5,350,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,5,425,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [264]:
x=df.drop('Exited',axis=1)
y=df['Exited']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [265]:
x.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Complain',
       'Satisfaction Score', 'Point Earned', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Card Type_DIAMOND',
       'Card Type_GOLD', 'Card Type_PLATINUM', 'Card Type_SILVER'],
      dtype='object')

In [266]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [267]:
# ANN

In [268]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

In [269]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='relu'),
])

d:\nithin\Python\Project\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [270]:
model.summary()

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_21 (Dense)                │ (None, 64)             │         1,280 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 3,393 (13.25 KB)

 Trainable params: 3,393 (13.25 KB)

 Non-trainable params: 0 (0.00 B)

In [271]:
opt=tf.keras.optimizers.Adam(learning_rate=.01)
loss=tf.keras.losses.BinaryCrossentropy()
loss

In [272]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [273]:
## Set the Tensorflow
log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callback = TensorBoard(log_dir,histogram_freq=1)

In [274]:
## Set the Early stopping
Early_Stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [275]:
history=model.fit(
    x_train,y_train, validation_data=(x_test,y_test),epochs=100,
    callbacks=[tf_callback,Early_Stopping]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 11ms/step - accuracy: 0.9537 - loss: 0.4606 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.9987 - loss: 0.0204 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9989 - loss: 0.0181 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9980 - loss: 0.0322 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9991 - loss: 0.0138 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9987 - loss: 0.0202 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.9980 - loss: 0.0320 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9981 - loss: 0.0301 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9990 - loss: 0.0165 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.9990 - loss: 0.0168 - val_accuracy: 0.9990 - val_loss: 0.0160
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9988 - loss: 0.0191 - val_accuracy: 0.9990 - val_loss: 0.0160

In [276]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [277]:
## Load Tf board
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [228]:
%tensorboard --logdir logs/fit20241203-221459

Reusing TensorBoard on port 6007 (pid 13580), started 0:59:13 ago. (Use '!kill 13580' to kill it.)

In [229]:
##load the pickle File