In [27]:
import numpy as np 
import pandas as pd 
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [28]:
##load All th model
model=load_model('model.h5')
with open('gender_LabelEncoder.pkl','rb') as f:
    gender_LabelEncoder=pickle.load(f)
with open('geo_encoder.pkl','rb') as f:
    geo_encoder=pickle.load(f)
with open('card_type_encoder.pkl','rb') as f:
    card_type_encoder=pickle.load(f)
with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [29]:
input= {
 'CreditScore': 619,
 'Geography': 'France',
 'Gender': 'Female',
 'Age': 42,
 'Tenure': 2,
 'Balance': 0.0,
 'NumOfProducts': 1,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 101348.88,
 'Complain': 1,
 'Satisfaction Score': 2,
 'Card Type': 'DIAMOND',
 'Point Earned': 464}
input_df=pd.DataFrame([input])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.0,1,1,1,101348.88,1,2,DIAMOND,464

In [30]:
card_type_encoded=card_type_encoder.transform([[input['Card Type']]]).toarray()
card_type_encoded_df = pd.DataFrame(
    card_type_encoded,
    columns=card_type_encoder.get_feature_names_out(['Card Type']))
card_type_encoded_df = card_type_encoded_df.head(1).to_dict(orient='records')[0]

d:\nithin\Python\Project\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [31]:
card_type_encoded=card_type_encoder.transform([[input['Card Type']]]).toarray()
card_type_encoded_df = pd.DataFrame(
    card_type_encoded,
    columns=card_type_encoder.get_feature_names_out(['Card Type']))
card_type_encoded_df

d:\nithin\Python\Project\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Card Type_DIAMOND  Card Type_GOLD  Card Type_PLATINUM  Card Type_SILVER
0                1.0             0.0                 0.0               0.0

In [32]:
input_df['Gender']=gender_LabelEncoder.transform(input_df['Gender'])
input_df=input_df.drop('Card Type', axis=1)

In [33]:
geo_encoded=geo_encoder.transform([[input['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(
    geo_encoded,
    columns=geo_encoder.get_feature_names_out(['Geography']))
geo_encoded_df
input_df=input_df.drop('Geography', axis=1)

d:\nithin\Python\Project\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [34]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Point Earned
0,619,0,42,2,0.0,1,1,1,101348.88,1,2,464

In [35]:
input_df=pd.concat([input_df,geo_encoded_df,card_type_encoded_df],axis=1)

In [36]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER
0,619,0,42,2,0.0,1,1,1,101348.88,1,2,464,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [37]:
##Scaling
input_df_scaled=scaler.transform(input_df)
input_df_scaled

array([[-0.27700291, -1.09997489,  0.28778948, -1.03940009, -1.25599716,
        -0.89163935,  0.63367318,  0.95214374,  0.04564911,  2.02214206,
        -0.72562394, -0.61586714,  0.98019606, -0.57581067, -0.56349184,
         1.72515018, -0.57965968, -0.56195149, -0.5881284 ]])

In [38]:
input_df_scaled.shape

(1, 19)

In [39]:
pred=model.predict(input_df_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 734ms/step

In [40]:
pred[0][0]

np.float32(3.1580274)